div{
  background-color: rgb(179, 210, 223);
  border: solid 6px;
  border-color: rgb(218, 0, 0);
  padding: 10px;
  border-radius: 50px;
}

hr {
  height: 2px;
  background-color: black;
}

nav {
  border: solid black;
  border-radius: 13px;
  padding: 14px;
  text-align: center;
  font-size: 17px;

}

.active {
  border: 3px solid yellow;
  padding: 7px;
  border-radius: 16px;
}